extend layout

block content
  p
    | This is sample NodeJS server.
    | Running on Kubernetes Cluster deployed on CentOS.
    | Supported by Jenkins.
    
  p
    | Author: Shahzeb khan


block sidebar
  .widget
    h1 Widget
    p
      | Sample server
      | Pusing any changes to github master branch triggers jenkins built. 
      | Successful built results in deployment on production cluster as pods. 
    
    p
      | Dated: 1 Sep, 2017
      | Shahzeb

